<link rel="import" href="/sys/polymer/polymer.html" />
<template>
    <style>
        .content {
            display: flex;
        }

        .content__item {
            flex: 1;
            border: solid;
            padding: 10px;
        }
    </style>
    <template is="dom-bind">
        <h1>MAIL CLIENT</h1>
        <div class="content">
            <div class="content__item">
                <h5>Mails</h5>
                <hr />
                <ul>
                    <template is="dom-repeat" items="{{model.Mails}}">
                        <li><a href="{{item.Url}}">{{item.Title}}</a></li>
                    </template>
                </ul>
            </div>
            <div class="content__item">
                <h5>Mail Content</h5>
                <hr />
                <starcounter-include partial="{{model.Focused}}"></starcounter-include>
            </div>
        </div>
    </template>
</template>